{% extends "blog/base.html" %}
{% load staticfiles %}

{% block title %}Pin a Voyage | Password change{% endblock %}

{% block content %}
<div id="user_edit_wrapper">
	<h1>Password change form</h1>
	{% if messages %}
		<div id="password-message">
			{% for message in messages %}
			<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
			{% endfor %}
		</div>
	{% endif %}
	<div id="user_edit">
		<div id="profile-side">
			<h3><a href="/edit/">Profile</a></h3>
			<h3><a href="#" class="profile-active">Password change</a></h3>
		</div>
		<div class="row">
		    <div class="col-md-6" id="password-change">
			    <form id="edit_password" method="post" action="/password-change/" enctype="multipart/form-data">

			    {% csrf_token %}
			
			    {{ password_form.as_p }}
			
			    <input type="submit" class="btn btn-info submit" name="save" value="Update password" />
		        </form>
		    </div>
		</div>
		
	</div>
</div>
{% endblock %}
